*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore the bin directory
bin

# Ignore all of the node_modules
node_modules

# Ignore that massive pdf with all the source code
sourceTeam17.pdf

# Ignore all our iteration1 stuff
Team17Iteration1


# Ignore the pdfbuild folder entirely
pdfbuild
